<div id="settingsModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h2>Einstellungen</h2>
            <span class="close" id="settings-close-btn">&times;</span>
        </div>
        <div class="modal-body">
            <div class="tab">
                <span class="tablinks" data-tab="tab2">Passwort 채ndern</span>
                {% if is_granted('ROLE_ADMIN') %}
                    <span class="tablinks" data-tab="tab1">ChatGPT API Token</span>
                    <span class="tablinks" data-tab="tab3">Benutzer hinzuf체gen</span>
                {% endif %}
            </div>
                {% if is_granted('ROLE_ADMIN') %}
            <div id="tab1" class="tabcontent">
                <h3>ChatGPT API Token</h3>
                <input type="text" id="chat-gpt-api-token" placeholder="sk-xxxxx-xxxxx" value="{{ chatGptApiToken }}">
                <div class="error-message" id="chatgpt-api-token-error-message"></div>
            </div>
                {% endif %}

            <div id="tab2" class="tabcontent">
                <h3>Passwort 채ndern</h3>
                <input type="password" id="new-password-one" placeholder="Neues Passwort">
                <input type="password" id="new-password-two" placeholder="Neues Passwort wiederholen">
                <div class="error-message" id="password-error-message"></div>
            </div>
                {% if is_granted('ROLE_ADMIN') %}
            <div id="tab3" class="tabcontent">
                <h3>Benutzer hinzuf체gen</h3>
                <input type="text" id="new-user-email" placeholder="E-Mail Adresse">
                <input type="checkbox" id="is-admin" value="admin">
                <label>Ist Admin Benutzer</label>
                <div class="error-message" id="email-error-message"></div>
            </div>
                {% endif %}
        </div>
        <div class="modal-footer">
            <span id="settings-save-btn" class="material-symbols-rounded">save</span>
        </div>
    </div>
</div>
