<p>Hi, Hallo, Moin Moin,</p>
<p>
herzlich Willkommen auf dem  prompt privacy portal (ppp). Hier kannst Du künftig alle freigeschalteten KI-Anwendungen sicher nutzen. Mit dieser Mail bekommst Du Deine Zugangsdaten.
</p>
<p>
Melde Dich ganz einfach auf https://ppp.mso.digital/ mit Deinen individuellen Zugangsdaten an.
</p>
<table>
    <tr>
        <td><b>Benutzername:</b></td> <td>Deine E-Mail Adresse</td>
    </tr>
    <tr>
        <td><b>Password:</b></td><td>{{ user.password }}</td>
    </tr>
</table>
<p>
Wenn Du eingeloggt bist, kannst Du Dein Passwort ganz einfach über das Zahnrad-Symbol unten rechts in ppp ändern.
</p>

<p>
Wir wünschen Dir viel Erfolg bei der Nutzung und stehen Dir bei Fragen jederzeit zur Verfügung.
</p>
<p>
Dein KI-Taskforce.
</p>
