{% extends 'base.html.twig' %}

{% block title %}mso digital ChatGPT Client{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('chat') }}
{% endblock %}

{% block body %}
{% include('settingsModal.html.twig') %}
<input type="hidden" id="symplr-save-settings-url" value="{{ path('app_save_settings') }}">
<input type="hidden" id="symplr-chat-answer-url" value="{{ path('app_get_chat_answer') }}">
<input type="hidden" id="mso-image-url" value="/build/images/2023-12_logo_chat-gpt-clone_mso-digital.png">
<div class="chat-container"></div>
<div class="typing-container">
    <div class="typing-content">
        <div class="typing-type">
            <select id="chat-types">
                <option value="gpt-4-1106-preview">ChatGPT 4 Turbo</option>
                <option value="gpt-4">ChatGPT 4</option>
                <option value="gpt-3.5-turbo-1106">ChatGPT 3.5 Turbo</option>
                <option value="dall-e-3">DALL·E 3</option>
            </select>
        </div>
        <div class="typing-textarea">
            <textarea id="chat-input" placeholder="Enter a prompt here" required></textarea>
            <span id="send-btn" class="material-symbols-rounded">send</span>
        </div>
        <div class="typing-controls">
            <span id="theme-btn" class="material-symbols-rounded">light_mode</span>
            <span id="delete-btn" class="material-symbols-rounded">delete</span>
            <span id="settings-btn" class="material-symbols-rounded">settings</span>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('chat') }}
{% endblock %}
