body {
    background-color: #0F1317;
}

.symplr-chat-answer-container {
    background-color: #343542;
    padding: 20px;
    margin-top: 30px;
}

.symplr-chat-answer-code {
    background-color: #0F1317;
    padding: 20px;
    font-style: italic;
}
