@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
:root {
    --text-color: #ffffff;
    --icon-color: #ACACBE;
    --icon-hover-bg: #5b5e71;
    --placeholder-color: #cccccc;
    --outgoing-chat-bg: #343541;
    --incoming-chat-bg: #444654;
    --outgoing-chat-border: #434541;
    --incoming-chat-border: #444654;
}
.light-mode {
    --text-color: #343541;
    --icon-color: #a9a9bc;
    --icon-hover-bg: #f1f1f3;
    --placeholder-color: #9f9f9f;
    --outgoing-chat-bg: #ffffff;
    --incoming-chat-bg: #f7f7f8;
    --outgoing-chat-border: #ffffff;
    --incoming-chat-border: #d9d9e3;
}
body {
    background-color: var(--outgoing-chat-bg);
}

.notification-box {
    position: fixed;
    top: -2%;
    right: 20px;
    transform: translateY(-100%);
    background-color: var(--incoming-chat-bg);
    color: var(--text-color);
    border-radius: 10px;
    padding: 10px;
    transition: transform 0.5s ease-in-out;
}

.notification-box.show {
    transform: translateY(140%);
}

.text {
    margin-top: 10px;
    color: var(--text-color);
}

.body_wrapper .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
    padding: 0 10px;
    text-align: center;
    color: var(--text-color);
}

.body_wrapper .container #login-container {
    margin-top: 25px;
}
.body_wrapper .container #chat-gpt-logo {
    height: 100px;
}
.body_wrapper .container #login-container .login-label {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.body_wrapper .container #login-container .table {
    display: table;
}

.body_wrapper .container #login-container .table .table-row {
    display: table-row;
}

.body_wrapper .container #login-container .table .table-row .table-cell {
    display: table-cell;
}

.body_wrapper .container #login-container .table .table-row .table-cell input {
    margin-left: 20px;
    margin-bottom: 30px;
    width: 300px;
    height: 55px;
    border: none;
    resize: none;
    font-size: 1rem;
    max-height: 250px;
    overflow-y: auto;
    border-radius: 4px;
    color: var(--text-color);
    padding: 15px 45px 15px 20px;
    background-color: var(--incoming-chat-bg);
    outline: 1px solid var(--incoming-chat-border);
}

.body_wrapper .container #login-container .table .table-row .table-cell label {
    font-size: 30px;
}

.body_wrapper .container #login-container .table .table-row {
    padding-bottom: 20px;
    margin-left: 20px;
}

.material-symbols-outlined {
    height: 55px;
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--icon-color);
    margin-left: 7px;
    font-size: 1.4rem;
    border-radius: 4px;
    background: var(--incoming-chat-bg);
    border: 1px solid var(--incoming-chat-border);
    user-select: none;
    cursor: pointer;
    margin-top: 30px;
    font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24
}
.login-logo {
    width: 580px;
}